<nav>
  <h1>The Prestigious Pet Store (GlobalCount: {{api.petCount$ | async}})</h1>
  <p-menubar [model]="menuItems">
    <kendo-numerictextbox format="n" [(ngModel)]="petId" routerLink="/pets/{{petId}}"></kendo-numerictextbox>
  </p-menubar>

<!--  <table>-->
<!--    <tr>-->
<!--      <td>-->
<!--        <button kendoButton themeColor="primary" routerLink="/pets/{{petId}}">Search Pets</button>-->
<!--      </td>-->
<!--      <td><kendo-numerictextbox format="n" [(ngModel)]="petId" routerLink="/pets/{{petId}}"></kendo-numerictextbox></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>-->
<!--        <button kendoButton themeColor="primary" routerLink="/addPet">Add Pet</button>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>-->
<!--        <button kendoButton themeColor="primary" routerLink="/filter">Filter by Status</button>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->
</nav>

<hr>
<ng-container *ngIf="api.isLoading$ | async; else showComponents">
  <div style="padding-left: 10%; padding-top: 5%">
  <kendo-loader
  [type]="loader.type"
  [themeColor]="loader.themeColor"
  [size]="loader.size">
  </kendo-loader>
  </div>
</ng-container>

<ng-template #showComponents>
  <div class="components">
    <router-outlet></router-outlet>
  </div>
</ng-template>
